<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>servlets.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>org_options</servlet-name>
        <servlet-class>servlets.OrgOptionsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org_options</servlet-name>
        <url-pattern>/org_options</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>visitor</servlet-name>
        <servlet-class>servlets.VisitorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>visitor</servlet-name>
        <url-pattern>/visitor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>org_login</servlet-name>
        <servlet-class>servlets.OrgLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org_login</servlet-name>
        <url-pattern>/org_login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>org_registration</servlet-name>
        <servlet-class>servlets.OrgRegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org_registration</servlet-name>
        <url-pattern>/org_registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>organizer</servlet-name>
        <servlet-class>servlets.OrganizerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>organizer</servlet-name>
        <url-pattern>/organizer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>create_event</servlet-name>
        <servlet-class>servlets.CreateEventServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>create_event</servlet-name>
        <url-pattern>/create_event</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>show_org_events</servlet-name>
        <servlet-class>servlets.ShowOrgEventsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>show_org_events</servlet-name>
        <url-pattern>/show_org_events</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_event</servlet-name>
        <servlet-class>servlets.EditEventServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>edit_event</servlet-name>
        <url-pattern>/edit_event</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete_event</servlet-name>
        <servlet-class>servlets.DeleteEventServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>delete_event</servlet-name>
        <url-pattern>/delete_event</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>show_vis_events</servlet-name>
        <servlet-class>servlets.ShowVisEventsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>show_vis_events</servlet-name>
        <url-pattern>/show_vis_events</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cancel_registration</servlet-name>
        <servlet-class>servlets.CancelRegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cancel_registration</servlet-name>
        <url-pattern>/cancel_registration</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>servlets.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>